<h1>Array Inc. Open Jobs</h1>

<table class="table table-hover table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
    <tr>
      <th scope="row"><%= job.id %></th>
      <td><%= link_to job.title, job_path(job) %></td>
      <td><%= job.description %></td>
      <!-- <td><%= link_to "Edit Posting", edit_job_path(job) %></td>
      <td><%= link_to "Delete Posting", job, method: :delete,
        class: 'btn btn-danger', data: {confirm: "Are you sure?"}%></td> -->
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @jobs %>
